<%- include("partials/header") %>

<main>
  <div class="student-info">
    <h1><%= title %></h1>

    <p>Name: <%= Sophie Silveira %></p>
    <p>Id #: <%= 9395050 %></p>
    <p>Email: <%= sil24040@byui.edu %></p>
    <p>Address: <%= Rexburg, Idaho %></p>
  </div>
</main>

<%- include("partials/footer") %>
