<%- include("partials/header") %>

<main>
  <div class="student-info">
    <h1><%= title %></h1>

    <p><strong>Name:</strong> <%= student.name %></p>
    <p><strong>Id #:</strong> <%= student.id %></p>
    <p><strong>Email:</strong> <%= student.email %></p>
    <p><strong>Address:</strong> <%= student.address %></p>
  </div>
</main>

<%- include("partials/footer") %>
